
@charset "utf-8";

@import "settings/settings.config";
@import "settings/fonts.config";
@import "settings/megatype.config";
@import "../../bower_components/megatype/megatype";


@include megatype;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: black;
}

::selection {
  background: deeppink;
  color: white;
}

h1 {
  font-weight: normal;
  font-family: font-family-of($sans);
  @include typeset($sans, 1rem * break-get(0, font-size-factor-extra-large), 1 * break-get(0, font-size-factor-large), 0, 6);
  @include min-width(1) {
    @include typeset($sans, 1rem * break-get(1, font-size-factor-extra-large), 1 * break-get(1, font-size-factor-large), 0, 3);
  }
  @include min-width(2) {
    @include typeset($sans, 1rem * break-get(2, font-size-factor-extra-large), 1 * break-get(2, font-size-factor-large), 0, 3);
  }
  @include min-width(3) {
    font-weight: 300;
    @include typeset($sans, 1rem * break-get(3, font-size-factor-extra-large), 1 * break-get(3, font-size-factor-large), 0, 3);
  }
  @include min-width(4) {
    font-weight: 300;
    @include typeset($sans, 1rem * break-get(4, font-size-factor-extra-large), 1 * break-get(4, font-size-factor-large), 0, 3);
  }
}

h2 {
  font-weight: normal;
  opacity: 0.5;
  font-family: font-family-of($sans);
  @include typeset($sans, 1rem * break-get(0, font-size-factor-small), 1 * break-get(0, font-size-factor-small), 4, 2);
  @include min-width(1) {
    @include typeset($sans, 1rem * break-get(1, font-size-factor-small), 1 * break-get(1, font-size-factor-small), 4, 2);
  }
  @include min-width(2) {
    @include typeset($sans, 1rem * break-get(2, font-size-factor-small), 1 * break-get(2, font-size-factor-small), 4, 2);
  }
  @include min-width(3) {
    @include typeset($sans, 1rem * break-get(3, font-size-factor-small), 1 * break-get(3, font-size-factor-small), 4, 2);
  }
  @include min-width(4) {
    @include typeset($sans, 1rem * break-get(4, font-size-factor-small), 1 * break-get(4, font-size-factor-small), 4, 2);
  }
}

p {
  font-family: font-family-of($sans);
  @include typeset($sans, 1rem * break-get(0, font-size-factor-medium), 2 * break-get(0, font-size-factor-medium), 0, 2);
  @include min-width(1) {
      @include typeset($sans, 1rem * break-get(1, font-size-factor-medium), 2 * break-get(1, font-size-factor-medium), 0, 2);
  }
  @include min-width(2) {
      @include typeset($sans, 1rem * break-get(2, font-size-factor-medium), 2 * break-get(2, font-size-factor-medium), 0, 2);
  }
  @include min-width(3) {
      @include typeset($sans, 1rem * break-get(3, font-size-factor-medium), 2 * break-get(3, font-size-factor-medium), 0, 2);
  }
  @include min-width(4) {
      @include typeset($sans, 1rem * break-get(4, font-size-factor-medium), 2 * break-get(4, font-size-factor-medium), 0, 2);
  }
}

.main {
  position: relative;
  background-color: white;
  padding: 2rem 0;
  z-index: 1;
}

.container {
  @include set-container;
  margin: 1rem * $ratio-large;
  @include min-width(1) {
    margin: 1rem * $ratio-large;
  }
  @include min-width(2) {
    margin: (2rem * $ratio-large) auto;
  }
  @include min-width(3) {
    margin: (2rem * $ratio-large) auto;
  }
  @include min-width(4) {
    margin: (2rem * $ratio-large) auto;
  }
  color: black;
}

.footer {
  position: relative;
  height:100vh;
  background-color: black;
  width: 100%;
  z-index: 0;
}

.footer-inner {
  position: fixed;
  bottom: 0;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
  }
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

line {
  stroke: #3f51b5;
  stroke-width: 2;

}

