
@charset "utf-8";

@import "settings/settings.config";
@import "settings/fonts.config";
@import "settings/megatype.config";
@import "../../bower_components/megatype/megatype";


@include megatype;

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: font-family-of($sans);
  @include typeset($sans, 1rem * break-get(0, font-size-factor-large), 1 * break-get(0, font-size-factor-large), 0, 2);
  @include min-width(1) {
      @include typeset($sans, 1rem * break-get(1, font-size-factor-large), 1 * break-get(1, font-size-factor-large), 0, 2);
  }
  @include min-width(2) {
      @include typeset($sans, 1rem * break-get(2, font-size-factor-large), 1 * break-get(2, font-size-factor-large), 0, 2);
  }
  @include min-width(3) {
      @include typeset($sans, 1rem * break-get(3, font-size-factor-large), 1 * break-get(3, font-size-factor-large), 0, 2);
  }
  @include min-width(4) {
      @include typeset($sans, 1rem * break-get(4, font-size-factor-large), 1 * break-get(4, font-size-factor-large), 0, 2);
  }
  font-weight: 300;
}

p {
  font-family: font-family-of($sans);
  @include typeset($sans, 1rem * break-get(3, font-size-factor-medium), 2 * break-get(3, font-size-factor-medium), 0, 2);
}

a {
  @include text-link($color: palette(blue), $hover: $color-hover, $offset: $link-offset, $opacity: $link-underline-opacity, $hover-opacity: $link-underline-hover-opacity);
}

.container {
  @include set-container;
  margin: 0 1rem;
  @include min-width(1) {
    margin: 0 1.8rem;
  }
  @include min-width(2) {
    margin: 0 auto;
  }
  @include min-width(3) {
    margin: 0 auto;
  }
  @include min-width(4) {
    margin: 0 auto;
  }
}