/* ==========================================================================
   _sctructure.sections.scss
   ========================================================================== */



.main {
  position: relative;
  background-color: white;
  padding: 10rem 0 2rem;
  z-index: 1;
  color: black;
}

.container {
  @include set-container;
  margin: 1rem * $ratio-large;

  @include min-width(1) {
    margin: (1rem * $ratio-large) auto;
  }

  @include min-width(2) {
    margin: (2rem * $ratio-large) auto;
  }

  @include min-width(3) {
    margin: (2rem * $ratio-large) auto;
  }

  @include min-width(4) {
    margin: (2rem * $ratio-large) auto;
  }
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  line-height: 0;
  // http://iamvdo.me/en/blog/ui-with-rotating-color-scheme
  animation: wheelHueColor 20s ease-in-out infinite;
  background-color: currentColor;

  svg {
    width: 1rem * 10.666666667 * 0.4;
    height: 1rem * 10.666666667 * 0.4;
  }
}

@supports (background-blend-mode: overlay) {
  .logo {
    background-image: linear-gradient(180deg, yellow -40%, blue 140%);
    background-blend-mode: overlay;
  }
}

@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}


.footer {
  position: relative;
  height:100vh;
  width: 100%;
  z-index: 0;
}

.footer-inner {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      @include text-link($color: white, $hover: $color-hover, $offset: $link-offset, $opacity: $link-underline-opacity, $hover-opacity: $link-underline-hover-opacity);
    }
  }
}

.footer-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #b9b9bb url('../img/bg.jpg') no-repeat bottom right;
  background-size: cover;
}

.section-image {
  display: block;
  max-width: 100%;
  margin: 4rem 0;

  @include min-width(1) {
    margin: 4rem auto;
  }

  @include min-width(2) {
    margin: 4rem auto;
  }

  @include min-width(3) {
    margin: 4rem auto;
  }

  @include min-width(4) {
    margin: 4rem auto;
  }
}