/* ==========================================================================
   _settings.config.scss
   ========================================================================== */



$test-variable: 1;
$color-hover: white;

// 1.25 ratio with 12px base
$ratio-small:       1.25;
$ratio-medium:      1.563;
$ratio-large:       1.953;
$ratio-extra-large: 2.441;
