@font-face {
  font-family: "Untitled Sans";
  src: url('../fonts/test-webfont.woff2') format('woff2'),
       url('../fonts/test-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src: url('../fonts/test_light-webfont.woff2') format('woff2'),
       url('../fonts/test_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}